.cashierContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mealButtonsContainer {
    display: flex;
    justify-content: center; /* This centers the buttons in the flex container */
    gap: 20px; /* This adds some space between the buttons */
}

.mealButton {
    width: 200px; 
    height: 200px; 
    margin: 10px;
    border-radius: 50%; 
    font-size: 32px; 
    cursor: pointer;
    outline: none;
    border: 2px solid #73b7ff; /* Example border color */
    background-color: #73b7ff; /* Example background color */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitButton {
    width: 200px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    margin: 20px;
    border-radius: 10px; 
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #28a745; /* Example background color */
    color: white;
    font-size: 16px;
}

.selected {
    background-color: #0056b3; /* Darker shade for selected button */
    border-color: #004085; /* Optionally, make the border darker as well */
}